<ngx-skeleton-loader [theme]="{
    width: '100%',
    'border-radius': '0',
    height: '120px',
    'background-color': 'rgba(128, 128, 128, 0.107)'
  }"></ngx-skeleton-loader>
<div class="row">
  <div class="col-md-4">
    <ngx-skeleton-loader [theme]="{
            width: '100%',
            'border-radius': '0',
            height: '110vh',
            'background-color': 'rgba(128, 128, 128, 0.107)'
          }"></ngx-skeleton-loader>
  </div>
  <div class="col-md-8">
    <div class="p-3">
        <ngx-skeleton-loader [theme]="{
            width: '100%',
            'border-radius': '0',
            height: '20vh',
            'background-color': 'rgba(128, 128, 128, 0.107)'
          }"></ngx-skeleton-loader>
    </div>

    <div class="p-3">
        <ngx-skeleton-loader [theme]="{
            width: '100%',
            'border-radius': '0',
            height: '80vh',
            'background-color': 'rgba(128, 128, 128, 0.107)'
          }"></ngx-skeleton-loader>
    </div>
  </div>
</div>
