<div class="card">
  <div class="card-header shadow-sm">
    <div class="mr-2">
      <h4 class="fs-20 mb-0 font-w600 text-black">Most Viewed Projects</h4>
    </div>
    <a tooltip="Add Project" placement="top" (click)="AddProject()" class="plus-icon pointer"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </div>
  <div class="card-body height620" style="overflow-y: scroll;">

    <div class="border-bottom pb-4 mb-4" *ngFor="let project of projects">
      <div class="row">
        <div class="col-3">
          <img src="{{project.imageUrl}}" alt="" class="img-fluid ">
        </div>
        <div class="col">
          <span class="fs-14 text-primary mb-2 d-block font-w500"><i class="fa fa-eye"></i> {{project.views}}</span>
          <div class="d-flex">
            <p class="font-w600 mr-auto mb-2"><a href="{{project.url}}" class="text-black">{{project.name}}</a></p>

          </div>
          <div class="mb-3"><i class="fa fa-calendar-o mr-1" aria-hidden="true"></i>Created on
            {{project.createdAt | date:'EEEE, MMMM d, y'}}</div>
        </div>
      </div>

    </div>
  </div>
