<div class="d-block mt-4 w-100">
  <div class="row">
    <div class="col-12 text-right">
      <button (click)="handleAddAcheivement()" type="button" class="btn btn-rounded  btn-primary"><span
          class="btn-icon-left text-primary"><i class="fa fa-plus color-primary"></i>
        </span>Add Acheivement</button>
    </div>
  </div>
</div>
<div>
  <div class="row mt-4">
    <div class="col-lg-6 col-xl-6" *ngFor="let ach of acheivements; let i = index">
      <div class="card border">
        <div class="card-body">
          <div class="row m-b-30">
            <div class="col-md-5 col-xxl-12">
              <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                <div class="new-arrivals-img-contnent">
                  <img class="img-fluid" [src]="ach.imageUrl" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-7 col-xxl-12">
              <div class="new-arrival-content position-relative">
                <h4><a href="ecom-product-detail.html">{{ach.title}}</a></h4>
                <div class="comment-review star-rating">
                </div>

                <p class="text-content">{{ach.description}}</p>
              </div>

            </div>
          </div>
          <button class="btn btn-danger mt-3" (click)="deleteAcheivement(i)">Delete</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="addAcheivementModalConfig.show">
  <modal [heading]="addAcheivementModalConfig.heading" [onClose]="addAcheivementModalConfig.onClose">
    <add-acheivement-form [onClose]="addAcheivementModalConfig.onClose"></add-acheivement-form>
  </modal>
</div>
