<div class="row">
    <div class="col-md-6">
        <ngx-skeleton-loader 
        [theme]="{ 
            'border-radius': '5px',
            height: '350px',
            border: '1px solid white'
          }"
        ></ngx-skeleton-loader>
    </div>
    <div class="col-md-6">
        <ngx-skeleton-loader 
        [theme]="{ 
            'border-radius': '5px',
            height: '350px',
            border: '1px solid white'
          }"
        ></ngx-skeleton-loader>
    </div>
    <div class="col-md-6">
        <ngx-skeleton-loader 
        [theme]="{ 
            'border-radius': '5px',
            height: '350px',
            border: '1px solid white'
          }"
        ></ngx-skeleton-loader>
    </div>
    <div class="col-md-6">
        <ngx-skeleton-loader 
        [theme]="{ 
            'border-radius': '5px',
            height: '350px',
            border: '1px solid white'
          }"
        ></ngx-skeleton-loader>
    </div>
</div>